<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
 
  <xacro:include filename="$(find tm_description)/xacro/schmalz_ecbpi.gazebo.xacro"/>  

  <xacro:property name="joint_lower_limit" value="0.0" />
  <xacro:property name="joint_upper_limit" value="0.055" />

  <xacro:macro name="ecbpi_hand" params="parent_link robot_name">
    <link name="ecbpi_base">
      <!--<inertial>
        <mass value="0.745" />
        <origin xyz="0 0.0 0.055" rpy="0 0 0" />
        <inertia ixx="0.003084" ixy="0.0" ixz="0.0" iyy="0.002999" iyz="0.0" izz="0.000546" />
      </inertial>-->
      <visual>
        <!--origin xyz="0 0 0.0" rpy="0 0 0"/-->
        <geometry>          
          <mesh filename="file://$(find tm_description)/meshes/ecbpi/visual/ecbpi.dae"/>          
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>        
      </visual>
      <!--<visual>        
        <origin xyz="0 0 ${0.015+0.095}" rpy="0 0 0"/>
        <geometry>          
          <cylinder radius="0.006" length="0.03"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>        
      </visual>-->      
      <collision>
        <origin xyz="-0.044 0 0.05" rpy="0 0 0"/>
        <geometry>          
          <cylinder radius="0.08" length="0.1"/>
        </geometry>       
      </collision>
      <collision>
        <origin xyz="-0.044 0 0.14" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.025" length="0.08"/>
        </geometry>
      </collision>      
    </link>

    <joint name="${parent_link}_to_ecbpi_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="ecbpi_base"/>
      <origin xyz="0 0 0" rpy="0 0 ${0.5*pi}"/>      
    </joint>
    <!--link name="ecbpi_tcp">
      <origin xyz="0 -0.044 0.18" rpy="0 0 0"/>
    </link>
    <joint name="ecbpi_bast_to_tcp" type="fixed">
      <parent link="ecbpi_base"/>
      <child link="ecbpi_tcp"/>
      <origin xyz = "0 0 0" rpy="0 0 0"/> 
    </joint-->
    <xacro:ecbpi_hand_gazebo robot_name="${robot_name}" />    
  </xacro:macro>

</robot>
